.rrr{
    background: linear-gradient(-90deg,grey,white,black);
   }
   .button {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.rrr{
    width: 100%;
    height: 100vh;
    background-image: url(blue-curved-border-simple-background_53876-115364.avif);
    background-size: cover;
    background-position: center;
}